ul .categories{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;

}
a{
    text-decoration: none;
    color:rgb(23, 36, 32)
}
.cards{
     
    justify-content: space-between;
    width: 250px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
    background-color: beige;
}
.cards:hover{
    translate: scale(0.05em);
    background-color: aquamarine;
}